:root {
    --gtc: 16;
    --gtr: 16;
}

body {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8a42c0;
}

.content__wrapper {
    width: 90vw;
    height: 85vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 75px 1fr;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    background: #87CEFA;

    border-radius: 0 0 15px 15px;
    border: 3px solid black;
}
.content__wrapper > * {
    margin: 1rem;
}
.content__wrapper h1 {
    grid-column: span 2;
    font-family: monospace;
    font-size: 2.1rem;
    font-weight: 700;
}

.div-container {
    justify-self: end;
    box-sizing: border-box;
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(var(--gtc), 1fr);
    grid-template-rows: repeat(var(--gtr + 1), 1fr);
    justify-items: stretch;
    align-items: stretch;

    padding: 2rem;
    background: lightgray;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 15px 0 0 15px;
}

.grid-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .2rem;
    border: 1px solid black;    
    text-align: center;
  }

.menu__wrapper {
    height: 400px;
    background: #ADD8E6;
    padding: 2rem;

    border: 2px solid black;
    border-radius: 0 15px 15px 0;

    border-left: none;
    margin-left: 0;

    font-family: monospace;
    position: relative;
}
.menu__wrapper h3 {
    position: relative;
    top: -35px;
    left: -35px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
}
label {
    display: block;
    font-size: 1.1rem;
}
input[type="number"], input[type="color"] {
    width: 50px;
    border: none;
    background-color: #ADD8E6;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: .4rem;
}
input[type="number"]:hover, input[type="color"]:hover {
    background: #87CEFA;
}
input[type="number"]:active, input[type="color"]:active {
    background: #87CEFA;
    border: 1px solid black;
}

button {
    color: white;
    font-family: monospace;
    font-weight: 600;
    border: none;
    outline: 2px solid white;
    padding: .3rem .6rem;
    width: 100%;
    background-color: #ADD8E6;
}

button:hover {
    background-color: #87CEFA;
}
button:active {
    background-color: #48b2f3;
    outline-color: black;
}
.reset {
    margin-bottom: 10px;
    position: absolute;

    bottom: 0;
    left: 0px;
    width: 95%;
    outline: none;
    border: 2px solid white;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.reset-color-size__wrapper, .set-new-color__wrapper{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    border-top: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    padding: .3rem;
    border-radius: 0 10px 10px 0;
    width: 95%;

}
.reset-color-size__wrapper button, .set-new-color__wrapper button {
    grid-column: span 2;
}
.set-new-color__wrapper {
    top: 58%;
    height: 30%;
}
.reset-color-size__wrapper {
    top: 20%;
    height: 35%;
}